/* font */
@font-face {
    font-family: "Pretendard-Regular";
    src:url(./2022/Pretendard-Regular.woff) format("truetype");
}
@font-face {
font-family: "Pretendard-Bold";
src:url(./2022/Pretendard-Bold.woff) format("truetype");
}
@font-face {
font-family: "Pretendard-ExtraLight";
src:url(./2022/Pretendard-ExtraLight.woff) format("truetype");
}
@font-face {
font-family: "Pretendard-Medium";
src:url(./2022/Pretendard-Medium.woff) format("truetype");
}
@font-face {
font-family: "Pretendard-SemiBold";
src:url(./2022/Pretendard-SemiBold.woff) format("truetype");
}

/* design */
/* 2022 */
* {
    margin: 0;
    padding: 0;
}

body, html{
    position: relative;
    min-width: 375px;
    max-width: 600px;
    width: 100%;
    font-family: 'notoFont-bold';
    overflow-x: hidden;
    height: 100%;
    margin: 0 auto;
    /* -webkit-overflow-scrolling: touch; 터치부드럽게 상단고정해더가 늦게움직이는현상발생*/
}

.clearBoth { clear:both; }

/* container */
#container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #FAFAFC;
}

/* header */
#header {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
}

#hedaerTop {
    width: 100%;
    height: 0;
    padding-bottom: 52.56410%;
    background: no-repeat center 0px;
    background-size: contain;
}

#headerTopContents {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 15.5%;
}

#headerTopContents > * {
    float: left;
}

#busTypeZone {
    width: 36%;
}

#busType {
    font-size: 1.75em;
    font-family : 'Pretendard-Bold';
    text-align: center;
}
#buttonsZone {
    width: 64%;
}

#buttons {
    width: 100%;
    padding-left: 14%;
}

#btnRouteMapZone {
    width: 34%;
    float: left;
    padding-right: 5.5%;
}

#btnRouteMap{
    background: url("/spring/images/2022busStop/Bus_Line_Buttton.png") no-repeat center 0px;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-bottom: 62%;
}

#btnBusScheduleZone {
    width: 34%;
    float: left;
}

#btnBusSchedule {
    background: url("/spring/images/2022busStop/Bus_Schedule_Buttton.png") no-repeat center 0px;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-bottom: 62%;
}

/* 버스 공지 */
#busStopNotification {
    font-family : 'Pretendard-Medium';
    width: 100%;
    background: #585858;
    padding-top: 1%;
    padding-bottom: 1%;

    color:white;
    font-size: 0.75em;
    text-align: center;
}

#busStopNotice {
    width: 293px;
    margin: 0 auto;
}

#busStopNoticeContents {
    text-align: center;
}

.busNotice {
    float: left;
}

#noticeIconZone {
    width: 14px;
    background: no-repeat center 0px;
    background-size: contain;
    margin-right: 3px;
    /*
ⓘ
        font-family : 'Pretendard-Medium';
        font-size: 1.1em;
        background-size: contain;
        width: 100%;
        height: 0;
 */
}

#noticeIcon {
    background: url("/spring/images/2022busStop/Notice_Icon.png") no-repeat center 0px;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

/* */
#viewType {
    width: 100%;
}

.viewBtn {
    width: 50%;
    float: left;
}

.viewBtnName {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.125em;
    font-family : 'Pretendard-Bold';
    border-bottom: #B4B4B4 3px solid;
    color: #B4B4B4;
}

#selectedBtn {
    color : #00264D;
    border-bottom: #00264D 3px solid;
}

#contents {
    position: relative;
    width: 100%;
    height: 100%;
}
