/* contents 부분 시작*/
#lineArea {
    width: 90%;
    margin: 10px auto 0 auto;
    padding-bottom: 10%;
}

.busStop {
    width: 100%;
    height: 66px;
    border-bottom: #C1C1C1 solid 1px;
}

#startPoint {
}

#endPoint {
    border: none;
}

.busStopRight, .busStopLeft {
    float: left;
    height: 100%;
}

.busStopLeft {
    position: relative;
    width: 20%;
    padding-left: 10%;
    padding-right: 3%;
}

.lineImgZone {
    width: 32px;
    margin-left: 23%;
    margin-right: 17%;

    top: 0;
    opacity: 1;
    z-index: 2;
}

.lineImg {
    width: 3px;
    object-fit: contain;
    height: 36px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}

.lineMark{
    font-size: 10px;
    font-family : 'Pretendard-Medium';
    text-align: center;

    position: absolute;

    width: 29px;
    height: 15px;

    top: 23px;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat;
    border: 2px solid #0B2F54;
    border-radius: 18px;
    z-index: 1;
}

.markName {
	margin: 3% 0px 3% 0px;
}

.busStopRight {
}

.busStopStatus{
    height: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.busStopName {
    font-size: 0.875em;
    font-family : 'Pretendard-Bold';
    color: #00264D;
    margin-bottom: 3px;
}

.busStopCondition {
    color: #7B7B7B;
    font-size: 0.75em;
}

.busStopInfo {
    font-family : 'Pretendard-Medium';
}

.Estimated-Time-Remaining {
    font-family : 'Pretendard-Medium';
}


/* busBox */
.realTimeBus {
	
}

.busBoxZone {
	/* Layout Properties */
	position: absolute;
	z-index: 1;
	right: 0px;
    top:0;
    margin-top: 13px;
    
    width: 100%;
}

.busBox {	
	width: 80%;
	
	/* UI Properties */
	background: no-repeat center 0px;
    background-size: contain;
    box-shadow: 0px 0px 15px #0F296B1F;
    border-radius: 5px;
	padding-bottom: 13%;
 	
}

.busStatus {
    padding-top: 5%;
    width: max-content;
	z-index: 1;
    font-size: 10px;
    margin-left: 12%;
}

.busBox, .busStatus {
    
    /*
    margin-right: 17%;
    */
}

.busNumber {
    font-family: "Pretendard-Bold";
    color : #00264D;
    width: max-content;
    margin: 0 auto;
}

.busRefreshTime {
    font-family: "Pretendard-Medium";
    color: #B4B4B4;
    width: max-content;
    margin: 0 auto;
}