@font-face {
	font-family: "notoFont-medium";
	src: url(/spring/css/fonts/NotoSansCJKkr-Medium.woff) format("truetype");
}

@font-face {
	font-family: "notoFont-bold";
	src: url(/spring/css/fonts/NotoSansCJKsc-Bold.woff) format("truetype");
}

img {
	width: 100%;
	height: 100.5%;
}

body, html, p, ul, img, span, div, a {
	margin: 0;
	padding: 0;
}

body, html {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	font-family: 'notoFont-bold';
	color: #222;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 600px;
	margin: 0 auto;
}

#headArea {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #003d4f;
	color: white;
	text-align: center;
	color: white;
	text-align: center;
	line-height: 3;
}

/* contents �κ� ����*/
#contents {
	position: relative;
	width: 100%;
	height: 95%;
	text-align: center;
}

/* Style the tab */
div.tab {
	position: relative;
	overflow: hidden;
	margin-top: 4%;
	height: 6%;
}

/* Style the links inside the tab */
div.tab a {
	/* float: left; */
	display: inline-block;
	color: black;
	width: 48%;
	text-align: center;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
	padding: 0;
	margin: 0;
	font-family: "notoFont-bold";
}

/* Change background color of links on hover */
div.tab a:hover {
	background-color: #e2e2e2;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
	background-color: #e2e2e2;
}

/* Style the tab content */
.tabcontent {
	position: relative;
	display: none;
	width: 100%;
	height: 53%;
	border-top: none;
	background-image: url("../images/busStop/baseImage.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.tabBtn {
	position: relative;
	width: 30%;
	height: 100%;
}

#infoAround {
	position: relative;
	width: 90%;
	height: 40%;
	background-color: white;
	text-align: left;
	box-shadow : 5px 3px 6px 1px silver;
	margin:0 auto;
	margin-top: 8%;
	margin-bottom:5%;
}

#infoTitle {
	position: relative;
	width: 100%;
	height: 15%;
	background-color: #cccccc;
	margin: 0 auto;
	line-height: 1;
	padding-top:2%;
}

#infoNameCase {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding-top: 2%;
}

.infoName {
	position: relative;
	width: 80%;
	height: 10%;
	background-color: white;
	border-bottom: 1px dotted #666666;
	margin: 0 auto;
	margin-top: 2%;
}

.active {
	border-bottom: 5px solid #003d4f;
	background-color: white;
}

#top{
	position: relative;
	width: 100%;
	height: 7%;
	z-index: 3;
}
#header {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #003d4f;
	text-align: center;
	color: white;
}
#infoPage {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #003d4f;
}
#txtLogo {
	position: relative;
	width: 60%;
	height: 80%;
	padding-top: 2.5%;
	margin: 0 auto;
	font-weight: bold;
}

#logo {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: auto;
	opacity:0.4;
}