body {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1440px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.noDeco {
	color: #9d9d9d;
	line-height: 20px;
	padding: 10px 15px;
	background-color: transparent;
	margin: 0 auto;
	    padding-top: 15px;
    padding-bottom: 15px;
}