/* font */
@font-face {
font-family: "Pretendard-Bold";
src:url(./2022/Pretendard-Black.subset.woff2) format("truetype");
}
@font-face {
font-family: "Pretendard-ExtraLight";
src:url(./2022/Pretendard-ExtraLight.subset.woff2) format("truetype");
}
@font-face {
font-family: "Pretendard-Medium";
src:url(./2022/Pretendard-Medium.subset.woff2) format("truetype");
}
@font-face {
font-family: "Pretendard-SemiBold";
src:url(./2022/Pretendard-SemiBold.subset.woff2) format("truetype");
}

/* design */
/* 2022 */
body, html{
    position: relative;
    min-width: 375px;
    width: 100%;
    font-family: 'notoFont-bold';
    overflow-x: hidden;
    height: 100%;
    margin: 0 auto;
    /* -webkit-overflow-scrolling: touch; 터치부드럽게 상단고정해더가 늦게움직이는현상발생*/
}

/* container */
#container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#header {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #003d4f;
    text-align: center;
    color: white;
    background-color: #003d4f;
}

#hedaerTop {
    width: 100%;
    height: 0;
    padding-bottom: 52.56410%;
    background: #B4B4B4 url("../images/2022busStop/시내버스_배경(낮).png") no-repeat center 0px;
    background-size: contain;
}

#headerTopContents {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 15.5%;
}

#headerTopContents > * {
    float: left;
}

#busTypeZone {
    width: 43%;
}

#busType {
    font-size: 1.75em;
    font-family : 'Pretendard-Bold';
    text-align: center;
}

#buttons {
    width: 57%;
    height: 100%;
}

#btnRouteMapZone {
    height: max-content;
}

#btnRouteMap{
    background: url("../images/2022busStop/노선도_버튼.png") no-repeat center 0px;
    background-size: contain;
}

btnBusSchedule {

}

#busStopNotification {
    width: 100%;
    background: #585858;
}

#busStopNotice {
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color:white;
    font-size: 0.75em;
}

/* contents 부분 시작*/
#contents {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-top:55%;
    text-align:left;
    background-color: white;
}